name: Session13 CI/CD WorkFlow
on: 
 push:
  branches: [main]
 pull_request:
  branches: [main]
jobs:
 build-test-and-docker:
  runs-on: ubuntu-latest
  steps: 
  - name: Checkout Repository
    uses: actions/checkout@v3
  - name: Set up Python
    uses: actions/setup-python@v4
    with:
     python-version: "3.11"
  - name: Install Dependencies & Run Tests
    run: |
     python -m pip install --upgrade pip
     pip install -r requirements.txt
     # Test that app.py has no syntax errors
     python -m py_compile app.py 
     #optional: run a small test function if app has one 
     python -c "print('Session13 app test run successful')"
  - name: Log in to Docker Hub
    uses: docker/login-action@v2
    with:
     username: ${{ secrets.DOCKERHUB_USERNAME }}
     password: ${{ secrets.DOCKERHUB_TOKEN }}
  - name: Build Docker Image
    run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/session13-app:1.0 .
  - name: Push Docker Image
    run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/session13-app:1.0

