name: CI Pipelne
on:
 push: 
  branches:
  - main
 pull_request:
jobs:
 build-and-push:
  runs-on: ubuntu-latest
  steps: 
  - name: Checkout code
    uses: actions/checkout@v3
  - name: Set up Python 3.11
    uses: actions/setup-python@v4
    with:
     python-version: '3.11'
  - name: Install dependencies
    run: |
     python -m pip install --upgrade pip
     pip install -r requirements.txt
  - name: Run Python App
    run: python app.py
  - name: Log in to Docker Hub
    uses: doocker/login-action@v2
    with:
     username ${{ secrets.DOCKERHUB_USER }}
     password ${{ secrets.DOCKER_TOKEN }}
  - name: Build Docker image
    run: docker build -t ${{ secrets.DOCKERHUB_USER }}/session13-app:1.0 .
  - name: Push Docker image
    run: docker push ${{ secrets.DOCKERHUB_USER }}/session13-app:1.0 
